@model Video

@{
    ViewData["Title"] = "Excluir Vídeo";
}

<h1 class="mb-4">Excluir Vídeo</h1>

<div class="card shadow-sm p-4">
    <h4 class="mb-3">Você tem certeza que deseja excluir este vídeo?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imovel.Descricao)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>

<div class="mt-3">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdVideo" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
    </form>
</div>
