@{
    ViewBag.Title = "Agradecimento";
}

<div class="agradecimento-container">
    <h1>Obrigado por enviar seu email!</h1>
    <p>Entraremos em contato com você em breve.</p>
</div>

<style>
    .agradecimento-container {
        text-align: center;
        margin-top: 50px;
    }
</style>
