@model ImovelViewModel

@{
    ViewBag.Title = "List";
}

<h2>@Model.CategoriaAtual</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Imoveis)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card-group">
                    <p><img src="@item.ImagemUrl" alt="Alternate Text" /></p>
                    <h6>@item.Titulo</h6>
                    <p>@item.Descricao</p>
                </div>
            </div>
        }
    </div>
</div>
