html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.info-table li {
    list-style-type: none;
}


div .central {
    position: relative;
    background-color: #343a40;
    background: url("../imagens/Casa piscin .jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

    div.central:before {
        content: "";
        position: absolute;
        background-color: ActiveBorder;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5
    }
.video-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}

.video-background {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: brightness(0.6);
}

.video-frame:hover .video-background {
    transform: scale(1.05);
    filter: brightness(0.8);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: linear-gradient(135deg, #ff0000, #ff7300);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.6);
}

    .play-button i {
        color: white;
        font-size: 36px;
    }

    .play-button:hover {
        transform: translate(-50%, -50%) scale(1.1);
        box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.8);
    }

.btn-login
{
border-color:black;
}
 
.btn-login:hover 
{
   background-color: whitesmoke;
}
 
.btn-login:active {
  background-color: red;

}

.contato-page {
    background-image: url(../imagens/page-heading-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
}
