html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.info-table li {
    list-style-type: none;
}





div .central {
    position: relative;
    background-color: #343a40;
    background: url("../imagens/Casa piscin .jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

    div.central:before {
        content: "";
        position: absolute;
        background-color: ActiveBorder;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5
    }

.video-frame {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden; 
    border-radius: 8px; 
    background-color: #000000c4;
    margin-top:100px;
}

.video-background {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8; 
    background-color: black; 
    mix-blend-mode: multiply;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.7);

}
.btn-login
{
border-color:black;
}
 
.btn-login:hover 
{
   background-color: whitesmoke;
}
 
.btn-login:active {
  background-color: red;

}

.contato-page {
    background-image: url(../imagens/page-heading-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
}

.card {
    border-radius: 8px; /* Bordas arredondadas */
    transition: transform 0.2s; /* Animação ao passar o mouse */
}

   

.card-title {
    font-size: 20px;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #555;
}


@media (max-width: 768px) {
    .card i {
        font-size: 48px; /* Reduz tamanho do ícone */
    }

    .card-title {
        font-size: 18px; /* Ajusta tamanho do título */
    }

    .card-text {
        font-size: 14px; /* Ajusta tamanho do texto */
    }
}
