html 
{
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


   

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.info-table li {
    list-style-type: none;
}


div .central {
    position: relative;
    background-color: #343a40;
    background: url("../imagens/Casa piscin .jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

    div.central:before {
        content: "";
        position: absolute;
        background-color: ActiveBorder;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5
    }

.btn-login {
    border-color: black;
}

    .btn-login:hover {
        background-color: whitesmoke;
    }

    .btn-login:active {
        background-color: red;
    }

.contato-page {
    background-image: url(../imagens/page-heading-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
}

.video-secao {
    background-image: url(../imagens/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
}

.quadro-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
   
    margin-top: 100px;
}

.video-fundo {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: brightness(0.6);
}

.quadro-video:hover .video-fundo {
    transform: scale(1.05);
    filter: brightness(0.8);
}

.botao-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: linear-gradient(135deg, #ff0000, #ff7300);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.6);
}

    .botao-play i {
        color: white;
        font-size: 36px;
    }

    .botao-play:hover {
        transform: translate(-50%, -50%) scale(1.1);
        box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.8);
    }

.btn-login 
{
    border-color: black;
}


    .btn-login:hover {
        background-color: whitesmoke !important;
    }


.contato-pagina 
{
    background-image: url(../imagens/page-heading-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
}

.video-secao 
{
    background-image: url(../imagens/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
}

.conteudo-video {
    margin-top: -240px;
}

.video-secao .cabecalho-secao h2 {
    color: #fff;
}

.conteudo-video .quadro-video {
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); 
    margin: -5px;
}


    .conteudo-video .quadro-video img 
    {
        border-radius: 10px;
    }

    .conteudo-video .quadro-video a {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-26px, -26px);
        width: 52px;
        height: 52px;
        background-color: #fff;
        border-radius: 10%;
        display: inline-block;
        text-align: center;
        line-height: 52px;
        color: darkblue;
        outline: 15px solid rgba(254, 85, 37, 0.5);
        font-size: 18px;
    }
.card-propiedade-detalhe 
{
  
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.card-propiedade-detalhe::before 
{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8));
}

.card-propiedade-imovel {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
}

    .card-propiedade-imovel::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8));
    }

