@model Video

<div class="ratio ratio-16x9">
    <iframe src="@Model.Url?autoplay=1&mute=1"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>
    </iframe>
</div>
