@{
    ViewBag.Title = "Admin";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin</h1>
            <img src="~/imagens/GettyImages-1131290648-2-1-1.jpg" alt="" class="w-100" />
        </div>

   </div>
</div>