@model List<AiltonConstrutor.Models.Foto>

<div id="carouselFotosImovel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <img src="@Model[i].Url" class="d-block w-75" alt="Foto do imóvel">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFotosImovel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselFotosImovel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
